name: CI
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  print:
    name: Print Something
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo Hello, world!
